.highlight {
  background-color: yellow;
}

table {
  border-collapse: collapse;
}

table td {
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  text-align: center;
}

.win-cell {
  background-color: grey;
}

.lastAiMove {
  background-color: red !important;
}

th {
  padding: 5px;
  text-align: center;
  background-color: aqua;
}

.XColor {
  background-color: lightgreen;
}

.OColor {
  background-color: lightcoral;
}
